In [1]:
import pandas as pd

In [2]:
cases_path = "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
deaths_path = "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovered_path = "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

In [34]:
cases_df = pd.read_csv(cases_path)
deaths_df = pd.read_csv(deaths_path)
recovered_df = pd.read_csv(recovered_path)

In [4]:
cases_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,21,22,22,22,24,24,40,40,74,84
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,51,55,59,64,70,76,89,104,123,146
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,54,60,74,87,90,139,201,230,264,302
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,2,39,39,53,75,88,113,133,164,188
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,3,3
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,1,1,1,1,1,1,1,3,3,3
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,56,68,79,97,128,158,266,301,387,387
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,52,78,84,115,136,160,194,235,249,265
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,2,2,3,4,6,9,19,32,39,39
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,171,210,267,307,353,436,669,669,818,1029
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,1,1,1,1,3,3,5,5,6,6
11,Queensland,Australia,-28.016700,153.400000,0,0,0,0,0,0,...,68,78,94,144,184,221,259,319,397,443
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,29,29,37,42,50,67,100,134,170,170
13,Tasmania,Australia,-41.454500,145.970700,0,0,0,0,0,0,...,7,7,10,10,10,16,22,28,28,36
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,71,94,121,121,121,229,355,355,411,466
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,28,31,35,52,64,90,120,140,175,175
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,1018,1332,1646,2013,2388,2814,3582,4474,5283,5588
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,28,28,28,44,44,53,65,72,87,93
18,NaN,Bahamas,25.034300,-77.396300,0,0,0,0,0,0,...,1,1,1,3,3,4,4,4,5,5
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,214,228,256,278,285,305,334,377,392,419
20,NaN,Bangladesh,23.685000,90.356300,0,0,0,0,0,0,...,8,10,14,17,20,25,27,33,39,39
21,NaN,Barbados,13.193900,-59.543200,0,0,0,0,0,0,...,0,2,2,5,5,6,14,17,18,18
22,NaN,Belarus,53.709800,27.953400,0,0,0,0,0,0,...,36,36,51,51,69,76,76,81,81,86
23,NaN,Belgium,50.833300,4.000000,0,0,0,0,0,0,...,1058,1243,1486,1795,2257,2815,3401,3743,4269,4937
24,NaN,Benin,9.307700,2.315800,0,0,0,0,0,0,...,1,1,2,2,2,2,2,5,6,6
25,NaN,Bhutan,27.514200,90.433600,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,2
26,NaN,Bolivia,-16.290200,-63.588700,0,0,0,0,0,0,...,11,11,12,12,15,19,24,27,29,32
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,0,0,0,0,0,0,...,25,26,38,63,89,93,126,136,166,176
28,NaN,Brazil,-14.235000,-51.925300,0,0,0,0,0,0,...,200,321,372,621,793,1021,1546,1924,2247,2554
29,NaN,Brunei,4.535300,114.727700,0,0,0,0,0,0,...,54,56,68,75,78,83,88,91,104,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,NaN,Ukraine,48.379400,31.165600,0,0,0,0,0,0,...,7,14,14,16,29,47,73,73,97,145
216,NaN,United Arab Emirates,24.000000,54.000000,0,0,0,0,0,0,...,98,98,113,140,140,153,153,198,248,333
217,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,0,0,0,2,2,2,6,6,6,7
218,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,1,1,1,3,3,3,3,5,6,8
219,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,6,6,6,11,14,32,32,36,36,46
220,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,1,3,8,10,10,10,15,15,15,26
221,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,0,0,0,0,1,1,5,13,23,23
222,Montserrat,United Kingdom,16.742500,-62.187400,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
223,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,1543,1950,2626,2689,3983,5018,5683,6650,8077,9529
224,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,8,29,50,79,94,110,158,162,162,189
225,NaN,US,37.090200,-95.712900,1,1,2,2,5,5,...,4632,6421,7783,13677,19100,25489,33276,43847,53740,65778
226,NaN,Uzbekistan,41.377500,64.585300,0,0,0,0,0,0,...,6,10,15,23,33,43,43,46,50,60
227,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,17,33,36,42,42,70,70,77,84,91
228,NaN,Vietnam,16.000000,108.000000,0,2,2,2,2,2,...,61,66,75,85,91,94,113,123,134,141
229,NaN,Zambia,-15.416700,28.283300,0,0,0,0,0,0,...,0,0,2,2,2,2,3,3,3,12
230,NaN,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,...,0,0,0,0,1,3,3,3,3,3
231,Diamond Princess,Canada,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
232,NaN,Dominica,15.415000,-61.371000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2,2,7
233,NaN,Grenada,12.116500,-61.679000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
234,NaN,Mozambique,-18.665695,35.529562,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,3,5
235,NaN,Syria,34.802075,38.996815,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,5
236,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
237,NaN,Belize,13.193900,-59.543200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
238,Recovered,Canada,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,3
240,NaN,Libya,26.335100,17.228331,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
241,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,38,39,41,44,47,48,52,59,59,-1
242,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
243,NaN,Mali,17.570692,-3.996166,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
244,NaN,Saint Kitts and Nevis,17.357822,-62.782998,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [14]:
for i, row in cases_df.iterrows():
    print(row[4:].values)
    break

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1
 1 1 1 1 1 1 1 1 1 4 4 5 7 7 7 11 16 21 22 22 22 24 24 40 40 74 84]

In [27]:
def construct_akb_entry_from_row(state, country, row_values, topic):
    # row_values is a list of ints containing all the values from all the dates
    # topic is "cases", "deaths", "recoveries"
    akb_entries_list = []
    for val in row_values:
        subj = country
        if isinstance(state, str):
            subj = " ".join([state, country])
        pred = "has"
        obj = " ".join([str(val), topic])
        sent = " ".join([subj, pred, obj])
        url = "https://coronavirus.jhu.edu/"
        url_title = "JHU Coronavirus Data"
        rating = "False"
        akb_entries_list.append({"sent": sent, "url": url, "url_title": url_title, "rating": rating,
                                "subj": subj, "pred": pred, "obj": obj})
    return akb_entries_list

In [28]:
def construct_akb_df(df, topic):
    """
    from the original df, go through all the dates and construct akb entries 
    in the same format as we have in the web app.
    """
    ret_df = pd.DataFrame()
    for i, row in df.iterrows():
        akb_entries = construct_akb_entry_from_row(row["Province/State"], row["Country/Region"], row[4:].values, topic)
        ret_df = ret_df.append(akb_entries)
    return ret_df

In [35]:
akb_cases_df = construct_akb_df(cases_df, "cases")
akb_deaths_df = construct_akb_df(deaths_df, "deaths")
akb_recovered_df = construct_akb_df(recovered_df, "recoveries")

In [36]:
akb_cases_df.sample(10)

,obj,pred,rating,sent,subj,url,url_title
33,0 cases,has,False,Mali has 0 cases,Mali,https://coronavirus.jhu.edu/,JHU Coronavirus Data
28,0 cases,has,False,Equatorial Guinea has 0 cases,Equatorial Guinea,https://coronavirus.jhu.edu/,JHU Coronavirus Data
23,0 cases,has,False,Namibia has 0 cases,Namibia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
35,0 cases,has,False,Argentina has 0 cases,Argentina,https://coronavirus.jhu.edu/,JHU Coronavirus Data
46,0 cases,has,False,Benin has 0 cases,Benin,https://coronavirus.jhu.edu/,JHU Coronavirus Data
43,4 cases,has,False,Georgia has 4 cases,Georgia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
37,60 cases,has,False,US has 60 cases,US,https://coronavirus.jhu.edu/,JHU Coronavirus Data
33,0 cases,has,False,Moldova has 0 cases,Moldova,https://coronavirus.jhu.edu/,JHU Coronavirus Data
56,0 cases,has,False,Mozambique has 0 cases,Mozambique,https://coronavirus.jhu.edu/,JHU Coronavirus Data
33,0 cases,has,False,Denmark has 0 cases,Denmark,https://coronavirus.jhu.edu/,JHU Coronavirus Data

In [37]:
akb_deaths_df.sample(10)

,obj,pred,rating,sent,subj,url,url_title
11,0 deaths,has,False,Equatorial Guinea has 0 deaths,Equatorial Guinea,https://coronavirus.jhu.edu/,JHU Coronavirus Data
3,0 deaths,has,False,Haiti has 0 deaths,Haiti,https://coronavirus.jhu.edu/,JHU Coronavirus Data
61,0 deaths,has,False,Queensland Australia has 0 deaths,Queensland Australia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
27,0 deaths,has,False,Luxembourg has 0 deaths,Luxembourg,https://coronavirus.jhu.edu/,JHU Coronavirus Data
38,0 deaths,has,False,Alberta Canada has 0 deaths,Alberta Canada,https://coronavirus.jhu.edu/,JHU Coronavirus Data
28,0 deaths,has,False,North Macedonia has 0 deaths,North Macedonia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
5,0 deaths,has,False,Isle of Man United Kingdom has 0 deaths,Isle of Man United Kingdom,https://coronavirus.jhu.edu/,JHU Coronavirus Data
2,0 deaths,has,False,Cambodia has 0 deaths,Cambodia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
12,0 deaths,has,False,New Brunswick Canada has 0 deaths,New Brunswick Canada,https://coronavirus.jhu.edu/,JHU Coronavirus Data
52,3 deaths,has,False,Greece has 3 deaths,Greece,https://coronavirus.jhu.edu/,JHU Coronavirus Data

In [38]:
akb_recovered_df.sample(10)

,obj,pred,rating,sent,subj,url,url_title
25,0.0 recoveries,has,False,Paraguay has 0.0 recoveries,Paraguay,https://coronavirus.jhu.edu/,JHU Coronavirus Data
41,0.0 recoveries,has,False,Timor-Leste has 0.0 recoveries,Timor-Leste,https://coronavirus.jhu.edu/,JHU Coronavirus Data
53,4.0 recoveries,has,False,New South Wales Australia has 4.0 recoveries,New South Wales Australia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
28,1.0 recoveries,has,False,Sri Lanka has 1.0 recoveries,Sri Lanka,https://coronavirus.jhu.edu/,JHU Coronavirus Data
9,0.0 recoveries,has,False,Slovenia has 0.0 recoveries,Slovenia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
2,0.0 recoveries,has,False,Croatia has 0.0 recoveries,Croatia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
10,0.0 recoveries,has,False,Peru has 0.0 recoveries,Peru,https://coronavirus.jhu.edu/,JHU Coronavirus Data
39,0.0 recoveries,has,False,Greenland Denmark has 0.0 recoveries,Greenland Denmark,https://coronavirus.jhu.edu/,JHU Coronavirus Data
8,0.0 recoveries,has,False,Tunisia has 0.0 recoveries,Tunisia,https://coronavirus.jhu.edu/,JHU Coronavirus Data
29,7.0 recoveries,has,False,Vietnam has 7.0 recoveries,Vietnam,https://coronavirus.jhu.edu/,JHU Coronavirus Data

In [39]:
len(akb_cases_df)

15680

In [40]:
all_df = pd.concat([akb_cases_df, akb_deaths_df, akb_recovered_df])

In [41]:
all_df

,obj,pred,rating,sent,subj,url,url_title
0,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
1,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
2,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
3,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
4,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
5,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
6,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
7,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
8,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
9,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
10,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
11,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
12,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
13,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
14,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
15,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
16,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
17,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
18,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
19,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
20,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
21,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
22,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
23,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
24,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
25,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
26,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
27,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
28,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
29,0 cases,has,False,Afghanistan has 0 cases,Afghanistan,https://coronavirus.jhu.edu/,JHU Coronavirus Data
...,...,...,...,...,...,...,...
33,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
34,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
35,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
36,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
37,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
38,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
39,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
40,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
41,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
42,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
43,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
44,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
45,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
46,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
47,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
48,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
49,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
50,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
51,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
52,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
53,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
54,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
55,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
56,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
57,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
58,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
59,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
60,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
61,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data
62,0.0 recoveries,has,False,Laos has 0.0 recoveries,Laos,https://coronavirus.jhu.edu/,JHU Coronavirus Data

In [42]:
all_df.to_csv("/Users/georgekaragiannis/Desktop/Cornell/research/akb_demo/data/jhu_timeseries_akb_03262020.csv", index=False)